.contactsCV { 
  display: grid; 
  padding: 1rem; 
  letter-spacing: 3px; 
  font-size: 10px; 
  padding-top: 0; 
} 

.positionCompany { 
  display: flex; 
  flex-direction: row; 
  font-size: 10px;
} 

.refEmailCv { 
  font-size: 10px;
}