.educationCV { 
  display: grid ; 
  height: fit-content; 
  width: fit-content;  
  color: white;
  margin-left: 1rem;
}; 

.degreeCV { 
  margin-bottom: 0; 
} 

.yearCV {
  margin: 0;
  font-size: 15px;
}

.universityCV {  
  margin: 0;  
  font-size: 15px;
}