.educationCV { 
  display: grid ; 
  height: fit-content; 
  width: fit-content;  
  color: white; 
  padding: 1rem;
  font-size: 10px; 
  letter-spacing: 3px; 
  gap: 5px;
}; 

.degreeCV { 
  margin-bottom: 0; 
} 

.yearCV {
  margin: 0;
 
}

.universityCV {  
  margin: 0;  
 
} 


