.experienceDiv { 
  display: flex; 
  flex-direction: column; 
}

.experienceCV { 
  display: grid; 
  grid-template-columns: 1fr 2fr; 
  padding: 2rem; 
  letter-spacing: 5px; 
  font-size: 12px; 
  padding-top: 0; 
  gap: 2rem;
}  

.years { 
  display: flex; 
  flex-direction: row; 
  gap: 1rem;
}
