.headerPersonal { 
  display: grid; 
 grid-template-rows: 1fr 1fr;
}

.nameTitle { 
  display: grid;
  grid-template-rows: 1fr 1fr; 
  background-color: gold;
  padding: 2rem;
  letter-spacing: 5px; 

}  

.nameTitle > h1 { 
  margin-bottom: 0;
}

.nameTitle > h4 { 
  margin-top: 0; 
  font-weight: 300;
} 

.about { 
  padding: 1rem;  
  padding-left: 2rem;
  letter-spacing: 5px; 
  font-size: 12px; 
} 

.skills { 
  padding: 2rem; 
  letter-spacing: 5px; 
  font-size: 12px; 
}