
.cv { 
  padding-top: 5rem;
  display: grid; 
  grid-template-columns: 2fr 4fr;
  width: 21cm;
  height: 29.7cm; 
  margin: 0 auto;
  margin-bottom: 0.5cm;
} 

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
} 

.columnOne { 
  background-color: rgb(26, 26, 26); 
  color: white;
} 


.workExp { 
  padding: 2rem; 
  letter-spacing: 5px; 
  font-size: 12px; 
  padding-bottom: 0;
} 

.photo {
  width: 16rem; 
  height: 16rem;
}

.education {  
  display: grid;
  padding: 1rem; 
  height: fit-content;
}  

.references {  
  display: grid;
  padding: 1rem; 
  height: fit-content;
} 
 